.project-main {
  width: 90%;
  padding: 0 15px;
}
.project-title {
  font-size: 2.3rem;
  font-weight: 600;
}

/* Project Card Design */

.project-card {
  position: relative;
  width: 100%;
  max-width: 385px;
  height: 410px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.5s ease-out;
}
.project-card::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -7px 28px 35px rgb(228, 228, 228);
}

.project-card .thumb {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: rgb(88, 87, 85);
}
.project-card .overlay {
  width: auto;
  height: 410px;
  position: relative;
  z-index: 0;
  padding: 14px 24px;
  background: #e4e4e4;
  transform: translateY(0px);
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.project-card .overlay .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 1px;
  color: green;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
  font-weight: 600;
}

.project-card .overlay .date,
.project-card .overlay .seats {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.7);
}
.project-card .overlay .seats {
  display: inline-block;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.lang-div {
  position: absolute;
  width: 80%;
  right: 0;
  left: 0;
  bottom: 10px;
  margin: auto;
}

.lang-tag {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: auto;
}

span .lang-logo {
  width: 30px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
}

.project-card .overlay .details {
  line-height: 1.7;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  text-align: justify;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
  height: 160px;
  scrollbar-width: none;
}

.project-card .overlay .goto-btn {
  margin: auto;
  display: grid;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.project-card:hover {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.55);
  transform: scale(1.05);
}
.project-card:hover::after {
  opacity: 0;
}
.project-card:hover .overlay {
  transform: translateY(-180px);
}
.project-card:hover .overlay .seats,
.project-card:hover .overlay .details,
.project-card:hover .overlay .goto-btn {
  opacity: 1;
  scrollbar-width: thin;
}
