
.skillset-main {
  width: 90%;
  padding: 0 15px;
  margin: auto;
}
.skill-title {
  font-size: 2.3rem;
  font-weight: 600;
}
/* GENERAL STYLES FOR BOX AND OVERLAY */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 140px;
  overflow: hidden;
  background-color: #eee;
  text-align: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.overlay p {
  color: var(--text-color);
  margin-top: 4px;
  font-size: 1.2rem;
  font-weight: 500;
}

.slide-up .overlay {
  border-radius: 15px;
  color: #fff;
  transform: translateY(100%);
  -webkit-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
.slide-up .box:hover {
  background: lightcyan;
}

.slide-up .box:hover .overlay {
  transform: translateY(75%);
}

@media (max-width: 575px) {
  .box {
    height: 170px;
    width: 100%;
  }
  .box h1 {
    font-size: 1.5rem;
  }
}
