/* body{
  background:#f1f1f1;
  font-family: 'Inconsolata', monospace;
  font-weight:bold;
  color:gray;
  text-align:center;
  -webkit-font-smoothing: antialiased;
} */
.skills-main {
  margin: auto;
  width: 90%;
  padding: 0px 15px;
}

.box-wrap {
  display: flex;
  flex-wrap: wrap;
  
}
.box {
  height: 150px;
  width: 150px;
  margin: 15px;
  background: white;
  border: 1px solid #d6d6d6;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
}
.box-wrap:hover .box {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.box-wrap:hover .box:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}
