@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

:root {
  --body-color: linear-gradient(180deg, #e9e9f0 0%, #d4dae2 50%, #d3dbeb 100%);
  --text-color: #081866;
  --secondary-text-color: #2d1c64;
  --logo-font: 'Comforter', cursive;
  --nav-font: "Readex Pro";
}

body {
  background: var(--body-color);
  scroll-behavior: smooth;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
